{{#each articles}}
  {{#if name}}


      <div class='accordion-group'>
        <div class='accordion-heading'>
          <a class='accordion-toggle' data-parent='#article' data-toggle='collapse' href='#collapse1-{{id}}'>
            <div class='text-contrast'>{{publication_name}}: <b>{{name}}</b></div>
          </a>
        </div>
        <div class='accordion-body collapse' id='collapse1-{{id}}'>
          <div class='accordion-inner'>
            <a href='{{guid}}' target="_blank" style="color:#0000CC">{{guid}}</a><br>
            {{{summary}}}
          </div>
        </div>
      </div>

{{!--
    <li class='article-li'>
      <div class='hover article panel panel-default' id="article{{id}}" style='margin-left: 0px'>
        <div class='hover panel-heading' id='article-link'>
          <h4 class="panel-title">
            <a id='art' class='article-link hover' data-article-id='{{id}}' href='#articles/{{id}}' style='text-decoration:none;'>{{publication_name}}: <b>{{name}}</b></a>
          </h4>
        </div>
      </div>

      <div class='content'></div>

    </li>
 --}}

{{!-- <div class="panel-body">
    <a href='{{guid}}' target="_blank" style="color:#0000CC">{{guid}}</a><br>
    {{{summary}}}
</div> --}}


  {{/if}}
{{/each}}
