{{#each articles}}
  {{#if name}}
    <li class='article-li'>
      <div class='hover article' id="article{{id}}" style='margin-left: 0px'>
        <div class='hover' id='article-link'>
          <a id='art' class='article-link hover' data-article-id='{{id}}' href='#articles/{{id}}' style='text-decoration:none; color:red'><span style='color:#0000CC'>{{publication_name}}:</span> <b>{{name}}</b></a>
        </div>
      </div>

      <div class='content'>

      </div>

    </li>

    </li>
  {{/if}}
{{/each}}
