<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SimpleGoogleReader" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Dropdown Levels Menu Base CSS -->
    <link href="css/ddlevelsmenu-base.css" rel="stylesheet">
    <!-- Dropdown Levels Menu Topbar CSS -->
    <link href="css/ddlevelsmenu-topbar.css" rel="stylesheet">
    <!-- Slider Revolution CSS -->
    <link href="css/rs-settings.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <!-- Pretty Photo CSS-->
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
  </head>

  <body>
    <!-- Header  Starts -->
    <header>
      <!-- Container -->
      <div class="container">

          <div class="col-md-8 col-sm-8">
            <!-- Logo -->
            <div class="logo" >
              <h1 id="logo"><a href="#">Simple <span style='color:#0140CA'>G</span><span style='color:#DD1812'>o</span><span style='color:#FCCA03'>o</span><span style='color:#0140CA'>g</span><span style='color:#16A61E'>l</span><span style='color:#DD1812'>e</span> Reader</a></h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Devise User Auth -->
            <div style='float:right'>
              <div id='navi'>
              <% if user_signed_in? %>
                Signed in as <%= current_user.email %>. Not you?
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
              <% end %>
              </div>

              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash#{name}" %>
              <% end %>
            </div>
            <!-- End Devise Auth -->
          </div>

      </div>
    </header>

    <!-- Header Ends -->


    <div class="container">
        <div class="row">
          <div style="width:100%">
            <%= yield %>
          </div>
        </div><!--/row-->


    </div> <!-- /container -->


    <!-- Scroll To Top -->

    <span class="top"><a href="#"> <i class="fa fa-chevron-up"></i> </a></span>


    <!-- Jquery Js -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <!-- Arbitrary Anchor JS -->
    <script type="text/javascript" src="js/jquery.arbitrary-anchor.js"></script>
    <!-- Pretty Photo JS -->
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <!-- jQuery way points -->
    <script src="js/waypoints.min.js"></script>
    <!-- jQuery Sticky JS -->
    <script src="js/jquery.sticky.js"></script>
    <!-- Dropdown Levels Menu JS -->
    <script src="js/ddlevelsmenu.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
  </body>
</html>

